<script src="/javascript/game.js"></script>
<script type="text/javascript">

  var ship_one_in =  <%= @ship1.to_json %>;
  var ship_two_in = <%= @ship2.to_json %>;

  var ship_one_abilities_in = <%= @ship1.get_abilities_friendly.to_json %>;
  var ship_two_abilities_in = <%= @ship2.get_abilities_friendly.to_json %>;

  var ship_one_weapons_in =  <%= @ship1.get_weapons_friendly.to_json %>;
  var ship_two_weapons_in =  <%= @ship2.get_weapons_friendly.to_json %>;
</script>
<div id="board_container">

  <div class="player_container player_one">
    <input type="hidden" name="player_id" value=<%= @ship1[:id] %>>
    <div class="ability_container">
        <table class="ability_table">

          <% @ship1.abilities.each_with_index do |a,i| %>
            <% if i % 4 == 0 %>
              <tr class="abilities">
            <% end %>

            <td><input class="attack_button" type="image" src="blue_crosshair.png" name="attack" value=<%= a[:name_value] %>><p><%= a[:name_print] %></p></td>

            <% if i % 4 == 3 %>
              </tr>
            <% end %>
          <% end %>

          <% @ship1.weapons.each_with_index do |a,i| %>
            <% if i % 4 == 0 %>
              <tr class="weapons">
            <% end %>

            <td><input class="attack_button" type="image" src="crosshair.png" name="attack" value=<%= a[:name_value] %>><p><%= a[:name_print] %></p><div class="ammo_container"></div></td>

            <% if i % 4 == 3 %>
              </tr>
            <% end %>
          <% end %>

        </table>
    </div>
    <div class="ship_container">
      <div class="ship_wrapper">
        <div class="heal_wrapper">
          <table>
            <tr>
              <td><img id="heal_1" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_2" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_3" class="heal_plus" src="/plus.png"/></td>
            </tr>
            <tr>
              <td><img id="heal_4" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_5" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_6" class="heal_plus" src="/plus.png"/></td>
            </tr>
            <tr>
              <td><img id="heal_7" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_8" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_9" class="heal_plus" src="/plus.png"/></td>
            </tr>
          </table>

        </div>
        <div class="explosion_wrapper">
          <table>
            <tr>
              <td><img id="explosion_1" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_2" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_3" class="damage_explosion" src="/explosion.png"/></td>
            </tr>
            <tr>
              <td><img id="explosion_4" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_5" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_6" class="damage_explosion" src="/explosion.png"/></td>
            </tr>
            <tr>
              <td><img id="explosion_7" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_8" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_9" class="damage_explosion" src="/explosion.png"/></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card_container">
      <div class="health_bar_container">
        <div class="health_bar">
          <div class="health_fill"></div>
        </div>
      </div>
      <div class="energy_bar_container">
        <div class="energy_bar">
          <div class="energy_over_fill">
          </div>
          <div class="energy_under_fill">
          </div>
        </div>
      </div>
        <div class="weapon_stats_container">
          <p class="weapon_name"></p>
          <p class="weapon_damage"></p>

          <p class="ability_name"></p>
          <p class="ability_damage"></p>
        </div>
    </div>
  </div>

  <div id="middle_container">
    <div id="combat_log">
    </div>
  </div>

  <div class="player_container player_two">
    <input type="hidden" name="player_id" value=<%= @ship2[:id] %>>
    <div class="ability_container">
        <table class="ability_table">

          <% @ship2.abilities.each_with_index do |a,i| %>
            <% if i % 4 == 0 %>
              <tr class="abilities">
            <% end %>

            <td><input class="attack_button" type="image" src="blue_crosshair.png" name="attack" value=<%= a[:name_value] %>><p><%= a[:name_print] %></p></td>

            <% if i % 4 == 3 %>
              </tr>
            <% end %>
          <% end %>

          <% @ship2.weapons.each_with_index do |a,i| %>
            <% if i % 4 == 0 %>
              <tr class="weapons">
            <% end %>

            <td><input class="attack_button" type="image" src="crosshair.png" name="attack" value=<%= a[:name_value] %>><p><%= a[:name_print] %></p><div class="ammo_container"></div></td>

            <% if i % 4 == 3 %>
              </tr>
            <% end %>
          <% end %>

        </table>
    </div>
    <div class="ship_container">
      <div class="ship_wrapper">
        <div class="heal_wrapper">
          <table>
            <tr>
              <td><img id="heal_1" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_2" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_3" class="heal_plus" src="/plus.png"/></td>
            </tr>
            <tr>
              <td><img id="heal_4" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_5" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_6" class="heal_plus" src="/plus.png"/></td>
            </tr>
            <tr>
              <td><img id="heal_7" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_8" class="heal_plus" src="/plus.png"/></td>
              <td><img id="heal_9" class="heal_plus" src="/plus.png"/></td>
            </tr>
          </table>

        </div>
        <div class="explosion_wrapper">
          <table>
            <tr>
              <td><img id="explosion_1" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_2" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_3" class="damage_explosion" src="/explosion.png"/></td>
            </tr>
            <tr>
              <td><img id="explosion_4" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_5" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_6" class="damage_explosion" src="/explosion.png"/></td>
            </tr>
            <tr>
              <td><img id="explosion_7" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_8" class="damage_explosion" src="/explosion.png"/></td>
              <td><img id="explosion_9" class="damage_explosion" src="/explosion.png"/></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="card_container">
      <div class="health_bar_container">
        <div class="health_bar">
          <div class="health_fill"></div>
        </div>
      </div>
      <div class="energy_bar_container">
        <div class="energy_bar">
          <div class="energy_over_fill">
          </div>
          <div class="energy_under_fill">
          </div>
        </div>
      </div>
      <div class="weapon_stats_container">
          <p class="weapon_name"></p>
          <p class="weapon_damage"></p>

          <p class="ability_name"></p>
          <p class="ability_damage"></p>
      </div>
    </div>
  </div>
  <div id="winner_modal">
    <div id="winner_wrapper">
      <h1>Victory!</h1>
      <p>A WINNER IS YOU</p>
      <p><span id="winner_name"></span></p>
      <a href="/start_menu">Return to Menu</a>
    </div>
  </div>
</div>