<a style="color: #fff;" href="/board">Reset</a>
<p style="color: #fff;"><%=@temp1%></p>
<script type="text/javascript">

  var ship_one_in =  <%= Board.get_game.ships[0].to_json %>;
  var ship_two_in = <%= Board.get_game.ships[1].to_json %>;

  var ship_one_abilities_in = <%= Board.get_ship_abilities(Board.get_game.ships[0]).to_json %>;
  var ship_two_abilities_in = <%= Board.get_ship_abilities(Board.get_game.ships[0]).to_json %>;
</script>
<div id="board_container">

  <div class="player_container player_one">
    <input type="hidden" name="player_id" value=<%= Board.get_game.ships[0][:id] %>>
    <div class="ability_container">
        <table class="ability_table">
          <% Board.get_ship_abilities(Board.get_game.ships[0]).each_with_index do |(k,v),i| %>
            <% if i % 4 == 0 %>
              <tr>
            <% end %>

            <td><input class="attack_button" type="image" src="crosshair.png" name="attack" value=<%= k %>><p><%= v[:name] %></p></td>

            <% if i % 4 == 3 %>
              </tr>
            <% end %>
          <% end %>
        </table>
    </div>
    <div class="card_container">
      <div class="health_bar_container">
        <label>HP: </label>
        <div class="health_bar">
          <div class="health_fill" style="width:<%= Board.get_health_bar_percent(Board.get_game.ships[0]) %>"></div>
        </div>
      </div>
        <div class="weapon_stats_container">
          <p>insert ship attack power here</p>
        </div>
    </div>
  </div>

  <div id="combat_log_container">
    <div id="combat_log">
    </div>
  </div>

  <div class="player_container player_two">
    <input type="hidden" name="player_id" value=<%= Board.get_game.ships[1][:id] %>>
    <div class="ability_container">
        <table class="ability_table">
          <% Board.get_ship_abilities(Board.get_game.ships[1]).each_with_index do |(k,v),i| %>
            <% if i % 4 == 0 %>
              <tr>
            <% end %>

            <td><input type="image" src="crosshair.png" name="attack" value=<%= k %> ><p><%= v[:name] %></p></td>

            <% if i % 4 == 3 %>
              </tr>
            <% end %>
          <% end %>
        </table>
    </div>
    <div class="card_container">
      <div class="health_bar_container">
        <label>HP: </label>
        <div class="health_bar">
          <div class="health_fill" style="width:<%= Board.get_health_bar_percent(Board.get_game.ships[1]) %>"></div>
        </div>
      </div>
      <div class="ship_stats_container">
        <p>insert ship attack power here</p>
      </div>
    </div>
  </div>
</div>
